body {
  text-align: center;
  color: green;
  background: #000;
}

h1 {
  font-size: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 15rem;
  border-radius: 20%;
}

.dice {
  display: inline-block;
  gap: 5rem;
}

p {
  font-size: 3rem;
}
footer {
  font-size: 1.5rem;
  margin-top: 190px;
}
@media (max-width: 600px) {
  .dice {
    display: block;
    margin: auto;
  }
  body {
    width: 100%;
    display: block;
  }
}
